# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
# /documents
# /merge_request_templates
/CNAME


# misc
.DS_Store
*.pem
.idea

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/assets/css/styles.css
/assets/css/styles.min.css
