@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
}

@layer components {
  .myContainer {
    @apply max-w-[650px] lg:max-w-[1146px] mx-auto px-[15px] sm:px-[20px];
  }

  .bg-gradient {
    background: linear-gradient(90deg, #1074a5 4.72%, #1799d9 95.8%) 000;
  }

  .side-dialog {
    @apply fixed top-0 right-0 bottom-0 w-[300px] transition-transform ease-in-out transform bg-white shadow-lg;
    z-index: 1000;
    transform: translateX(100%);
  }

  .backdrop {
    @apply fixed top-0 left-0 right-0 bottom-0 w-full h-full transition-all ease-in-out z-[900];
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
  }

  .side-dialog.show {
    transform: translateX(0);
  }

  .side-dialog.show ~ .backdrop {
    opacity: 1;
    visibility: visible;
  }

  /* Style for section heading */
  .section__heading {
    font-size: 17.6px;
    line-height: 40px;
    height: 40px;
    @apply text-white w-full lg:w-[300px] xl:w-[400px] relative pl-[60px] font-bold;
  }

  .section__heading::before {
    transform: skewX(-40deg);
    border-radius: 5px;
    content: "";
    position: absolute;
    height: 100%;
    left: 15px;
    right: 15px;
    z-index: -1;
    @apply bg-gradient;
  }

  .section__heading::after {
    content: url(https://www.kosshop.vn/images/logo-icon.svg);
    position: absolute;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: block;
    border: 5px solid #fff;
    z-index: 1;
    bottom: 10px;
    text-align: center;
    font-size: 2.8rem;
    line-height: 46px;
    text-indent: 0;
    left: 0;
    @apply bg-primary;
  }

  /* Discount label */
  .discount-label {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    right: -50px;
    line-height: 45px;
    padding: 50px 50px 5px 10px;
    z-index: 100;
    @apply text-white bg-secondary;
  }

  /* Custom slick library */
  .slick-prev {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    padding: 16px;
    font-size: 1.6rem;
    @apply text-arrow;
  }

  .slick-next {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
    padding: 16px;
    font-size: 1.6rem;
    @apply text-arrow;
  }
}

/* Custom gap spacing between rows */
.slick-track {
  display: flex;
  gap: 10px;
}

/* Responsive media queries for slick */
/* Show 2.5 items on mobile */
@media screen and (max-width: 769px) {
  .slick-list {
    padding: 0 10% 0 0 !important;
  }
}
